WebApplication/Web References/TimeMeanWebService/SubjectsMeansService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost:50253/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost:50253/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost:50253/">
      <s:element name="GetAllSubjectsMeans">
        <s:complexType />
      </s:element>
      <s:element name="GetAllSubjectsMeansResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllSubjectsMeansResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubjectMeans">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subjectCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubjectMeansResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubjectMeansResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllSubjectsMeansSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSubjectsMeans" />
  </wsdl:message>
  <wsdl:message name="GetAllSubjectsMeansSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSubjectsMeansResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubjectMeansSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubjectMeans" />
  </wsdl:message>
  <wsdl:message name="GetSubjectMeansSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubjectMeansResponse" />
  </wsdl:message>
  <wsdl:portType name="SubjectsMeansServiceSoap">
    <wsdl:operation name="GetAllSubjectsMeans">
      <wsdl:input message="tns:GetAllSubjectsMeansSoapIn" />
      <wsdl:output message="tns:GetAllSubjectsMeansSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjectMeans">
      <wsdl:input message="tns:GetSubjectMeansSoapIn" />
      <wsdl:output message="tns:GetSubjectMeansSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubjectsMeansServiceSoap" type="tns:SubjectsMeansServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSubjectsMeans">
      <soap:operation soapAction="http://localhost:50253/GetAllSubjectsMeans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjectMeans">
      <soap:operation soapAction="http://localhost:50253/GetSubjectMeans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubjectsMeansServiceSoap12" type="tns:SubjectsMeansServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSubjectsMeans">
      <soap12:operation soapAction="http://localhost:50253/GetAllSubjectsMeans" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjectMeans">
      <soap12:operation soapAction="http://localhost:50253/GetSubjectMeans" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubjectsMeansService">
    <wsdl:port name="SubjectsMeansServiceSoap" binding="tns:SubjectsMeansServiceSoap">
      <soap:address location="https://timemeanwebservice.azurewebsites.net/SubjectsMeansService.asmx" />
    </wsdl:port>
    <wsdl:port name="SubjectsMeansServiceSoap12" binding="tns:SubjectsMeansServiceSoap12">
      <soap12:address location="https://timemeanwebservice.azurewebsites.net/SubjectsMeansService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>